In [ ]:
x_input=[0.1,0.5,0.6]
w_weight=[0.4,0.3,0.6]
threshold=0.5

In [ ]:
def step(weighted_sum):
  if weighted_sum>threshold:
    return 1
  else:
    return 0

In [ ]:
def perceptron():
    weighted_sum = 0
    for x, w in zip(x_input, w_weight):
        weighted_sum += x * w
        print(weighted_sum)
    return step(weighted_sum)

output = perceptron()
print('output=', output)

0.04000000000000001
0.19
0.55
output= 1

In [ ]:
def step(weighted_sum):
  if weighted_sum > threshold:
    return 1
  else:
    return 0

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split

In [ ]:
data =pd.read_csv('/content/Titanic_Dataset.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data.Age.mean()

29.69911764705882

In [ ]:
data.Age = data.Age.fillna(data.Age.mean())

In [ ]:
data.drop('Cabin',axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [ ]:
data.Sex=data.Sex.replace("male","0")
data.Sex=data.Sex.replace("female","1")

In [ ]:
target = data.Survived

In [ ]:
data =data.drop(['Survived','Cabin','Name','Ticket','Embarked'],axis=1)

In [ ]:
X_train,X_test,y_train,y_test= train_test_split(data,target,test_size=0.2)

In [ ]:
model=Perceptron()
model.fit(X_train,y_train)
y_predict =model.predict(X_test)
print(accuracy_score(y_test,y_predict))

0.6145251396648045

In [ ]:
def step_function(x):
    return 1 if x >= 0 else 0

def perceptron_AND(x1, x2):
    w1, w2, threshold = 0.5, 0.5, 0.7
    weighted_sum = w1 * x1 + w2 * x2
    return step_function(weighted_sum)

def perceptron_OR(x1, x2):
    w1, w2, threshold = 0.5, 0.5, 0.3
    weighted_sum = w1 * x1 + w2 * x2
    return step_function(weighted_sum)

def perceptron_NOT(x):
    w, threshold = -1, -0.5
    weighted_sum = w * x
    return step_function(weighted_sum)

input_data = [(0, 0), (0, 1), (1, 0), (1, 1)]

print("AND Gate:")
for x1, x2 in input_data:
    output = perceptron_AND(x1, x2)
    print(f"{x1} AND {x2} = {output}")

print("\nOR Gate:")
for x1, x2 in input_data:
    output = perceptron_OR(x1, x2)
    print(f"{x1} OR {x2} = {output}")

print("\nNOT Gate:")
for x in [0, 1]:
    output = perceptron_NOT(x)
    print(f"NOT {x} = {output}")

AND Gate:
0 AND 0 = 1
0 AND 1 = 1
1 AND 0 = 1
1 AND 1 = 1

OR Gate:
0 OR 0 = 1
0 OR 1 = 1
1 OR 0 = 1
1 OR 1 = 1

NOT Gate:
NOT 0 = 1
NOT 1 = 0

In [ ]:
def step_function(x):
    return 1 if x >= 0 else 0

def perceptron_AND(x1, x2):
    w1, w2, bias = 0.5, 0.5, -0.7
    weighted_sum = w1 * x1 + w2 * x2 + bias
    return step_function(weighted_sum)

def perceptron_OR(x1, x2):
    w1, w2, bias = 0.5, 0.5, -0.3
    weighted_sum = w1 * x1 + w2 * x2 + bias
    return step_function(weighted_sum)

def perceptron_NOT(x):
    w, bias = -1, 0.5
    weighted_sum = w * x + bias
    return step_function(weighted_sum)

input_data = [(0, 0), (0, 1), (1, 0), (1, 1)]

print("AND Gate:")
for x1, x2 in input_data:
    output = perceptron_AND(x1, x2)
    print(f"{x1} AND {x2} = {output}")

print("\nOR Gate:")
for x1, x2 in input_data:
    output = perceptron_OR(x1, x2)
    print(f"{x1} OR {x2} = {output}")

print("\nNOT Gate:")
for x in [0, 1]:
    output = perceptron_NOT(x)
    print(f"NOT {x} = {output}")

AND Gate:
0 AND 0 = 0
0 AND 1 = 0
1 AND 0 = 0
1 AND 1 = 1

OR Gate:
0 OR 0 = 0
0 OR 1 = 1
1 OR 0 = 1
1 OR 1 = 1

NOT Gate:
NOT 0 = 1
NOT 1 = 0